# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/

# Jupyter
.ipynb_checkpoints

# IDE
.vscode/
.idea/

# Project specific
data/raw/*
data/processed/*
data/interim/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/interim/.gitkeep
outputs/figures/*
outputs/models/*
!outputs/figures/.gitkeep
!outputs/models/.gitkeep